@use "../../../styles/variables.scss";

.root {
  display: flex;
  gap: 8px;
  color: white;
  cursor: pointer;
}

.radioInput {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.radio {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  outline: 1px solid variables.$gray-2;

  &.checked {
    &:after {
      content: "";
      position: absolute;
      inset: 6px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: variables.$blue-1;
    }
  }
}
