@use "../../../styles/variables.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 100%;
  flex-grow: 1;

  @media screen and (min-width: variables.$screen-sm) {
    flex-grow: 0;
  }
}

.label {
  color: white;
}

.input {
  background-color: transparent;
  border: 1px solid variables.$gray-2;
  border-radius: variables.$radius-medium;
  color: white;
  outline: none;
  padding: 12px 16px;

  &::placeholder {
    color: variables.$gray-1;
  }

  &:focus {
    border-color: variables.$gray-1;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}
