@use "../../../styles/variables.scss";

.root {
  background-color: variables.$black;
  flex-grow: 1;
  padding-inline: 16px;

  @media screen and (min-width: variables.$screen-sm) {
    padding: 100px 60px;
  }
}
