@use "../../../styles/variables.scss";

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: variables.$black;
  flex-grow: 1;
  padding: 32px 16px 80px;
  background-image: url("../../../public/img/steps-bg.png");
  background-position: bottom left;
  background-repeat: no-repeat;

  @media screen and (min-width: variables.$screen-sm) {
    padding: 100px 60px;
  }
}

.title,
.text {
  color: white;
}

.title {
  margin-bottom: 28px;
}

.subTitle {
  color: variables.$blue-1;
  margin-top: 8px;

  @media screen and (min-width: variables.$screen-sm) {
    margin-top: 0;
  }
}

.detailsContainer {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 0;
  margin-bottom: 32px;

  @media screen and (min-width: variables.$screen-sm) {
    grid-template-columns: 150px 1fr;
    gap: 16px;
  }
}

.detailsItem {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
