@use "./variables.scss";

h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}

.text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.sub-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  @media screen and (min-width: variables.$screen-sm) {
    font-size: 20px;
    line-height: 24px;
  }
}
