$black: #101313;

$blue-1: #2b8ce5;
$blue-2: #257bca;
$blue-3: #1d68ad;

$gray-1: rgba(255, 255, 255, 0.3);
$gray-2: rgba(250, 250, 250, 0.1);
$gray-3: rgba(33, 122, 255, 0.1);
$gray-4: rgba(250, 250, 250, 0.075);
$gray-5: rgba(250, 250, 250, 0.05);

$radius-large: 16px;
$radius-medium: 10px;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
