$black: #101313;
$blue: #2b8ce5;
$gray-1: rgba(255, 255, 255, 0.3);
$gray-2: rgba(250, 250, 250, 0.1);
$gray-3: rgba(33, 122, 255, 0.1);

$radius-large: 16px;
$radius-medium: 10px;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
